body {
    font-size: large;
    font-family: Bahnschrift;
    margin: 0;
   
}

.align {
    text-align: center;
}

.topbox {
    background-color: #9a9696;
    color: black;
    text-align: center;
    height: 3.5rem;
    width: 100%;
    position:fixed;
    z-index:2;
}

.topbox1 {
    background-color: #9e9898;
    padding-right:1.2rem;
    width:85%;
    height: 3.5rem;  
}

/*2222222222222222*/

#home {
}

.box2 {
    background-color: #040635;
    height: 49rem;
    width: auto;
   
}

.img {
    height: 250px;
    width: 250px;   
    border-radius: 20.5rem;
    margin:0 2px 25px 2px;
}
.bio {
    padding-top:6rem;
}

.name {
    color: #f6f0f0;   
}

.icons {
    padding: 7px 7px 4px 7px;
    color: #a89807;
}

.info {
    padding-left: 130px;
    padding-right: 130px;
    color:#efecec;
    padding-top:2rem;
}

.intro {
    text-align: justify;
    color: #efecec;
}

/*======================333333====================*/
#experience {
}

.box3 {
    height: 33rem;
    background-color: #040643;
}


.he1 {
    text-align: center;
    padding-top: 2rem;
    color: #e4e1e1;
}

.he2 {
    color: #bcbaba;
}


.dur {
    color: #aba7a7;
}

.exp1 {
    width:50%;
    text-align:left;
    margin:48px auto 2px auto;
}

.sanm {
    height: 8rem;
    width: 8rem;
    float: left;
    border-radius: 7px;
    margin-right: 2rem;
}

.exp2 {
    width: 50%;
    text-align: right;
    margin: 48px auto 2px auto;
}

.sanm1 {
    float: right;
    height: 8rem;
    width: 8rem;
    margin-left: 2rem;
    border-radius: 7px;
}
/*44444444*/
#skills {
}

.skills {
    height: 34rem;
    width: auto;
    background-color: #040635;
}

.skillicon {
    text-align: center;
}

.skillicons {
    padding-left: 75px;
    color: #8d840e;
    padding-top: 3rem;
}

.text {
    font-size: 25px;
    font-style: italic;
    padding-top: 1rem;
    font-weight: bolder
}

#projects {
}

.box-5 {
    background-color: #040643;
    height: 46rem;
    width: auto;
}

.testimonial-image {
    height: 30rem;
    width: 60rem;
    border-radius: 2rem;
    margin: 20px;
}

.carousel-item {
    padding: 3% 10%;
    text-align: center;
}

.img-size {
    height: 25rem;
    width: 50rem;
}


#contact {
}

.contactsec {
    height: 28rem;
    width: auto;
    background-color: #040635;
}
.copyright {
    height: 150px;
    background-color: #cfc9c9;
    padding-top: 3.5rem;
    font-size: 1rem
}
